<div>
    <table border="1" style="width:<%=@table_width %>px;height:<%= @table_height%>px">
        <%= for i <- 1..@rows do %>    
        <tr>
            <%= for j <- 1..@cols do %>
                <td style="padding: 0 0;" <%= if has_coords(@coords, %{x: j, y: i}), do: "bgcolor=red"%>></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
